html{
  scroll-snap-type: y mandatory;
}


.App{
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: grid;
  place-items: center;
}

.app-videos{
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconder Scroll Bar, chrome, safari, opera */

.app-videos::-webkit-scrollbar{
  display: none;
}

/* Esconder Scroll Bar, firefox, edge */

.app-videos::-webkit-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}